body{
	font-family: Myriad Pro;
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	text-align: center;
}

a{
	cursor: pointer;
}

button{
	cursor: pointer;
}

/*modal start*/
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(89,89,89,0.8);
	z-index: 99999;
	/*opacity:0;*/
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	/*pointer-events: none;*/
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog .font_size_35{
	margin-top: -20px;
}

.modalDialog > section {
	width: 665px;
	position: relative;
	margin: 10% auto;
	padding:25px 40px;
	border-radius: 5px;
	background: #fff;	
}

.modalDialog .p1{
	margin-top: 35px;
	color: #868686;	
	font-weight: bold;
}

.modalDialog .p2{
	margin-top: -5px;
	color: #868686;
	font-weight: bold;
}

.modalDialog .p2 a{
	color: #868686;
	font-weight: bold;
	text-decoration-color: #868686;
}

.modalDialog .content{
	font-size: 13px;
}

.close {
	background: #ffffff;
	color: #000000;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
	color: #ff4800; 
	background-color: #fff;
}
/*modal end*/


/*section first start*/

header h3{
	font-size: 45px;
	font-weight: bold;
	color: #fff;
	margin: 0px;
}

.first_section{
	background-image: url('../images/background_image.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 20px 0px;
}

.content1 p {
	font-size: 15px;
	line-height: 10px;
    color: #d4d5d8;
}

.content2{
	display: flex;
    align-items: center;
    justify-content: center;
}

button{
	/*width: 367px
	height:90px;*/
	/*outline: 0;
	border: 0px;*/
    border: none;
    color: #fff;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}

button.orange_bgcolor{
	border-radius: 5px 0px 0px 5px;
    padding: 28px 38px;	
    text-transform: uppercase;
}

button.orange_dark_color{
	border-radius: 0px 5px 5px 0px;
	padding: 23.5px 31px;	
}

.content3 p {
	font-size: 13px;
	line-height: 10px;
}

/*section first end*/


/*section second start*/

.second_section{
	/*margin-top: 60px;*/
	padding: 0 120px;
	display: flex;
	text-align: center;
}

.second_section .first_sub_section{
	width: 68%;
	display: block;
}

.second_section .second_sub_section{
	width: 32%;
	display: block;
	/*margin-left: -20px;*/
}

.second_section .slider_images{
	display: block;
}

.second_section .slider_images header{
	/*margin-left: -5px;*/
}

.second_section figure{
	margin: 0px;
}

figure.figure_group{	
	margin-left: -21px;
	position: relative;
}

figure a{
	position: absolute;
	top:25%;
}

figure .left{
	background-color: #fff;
    padding: 10px 15px 10px 25px;
    border-radius: 50%;
    left: -1% !important;
}

figure .right{
	background-color: #fff;
	border-radius: 50%;
	padding: 10px 25px 10px 15px;
	right: 1% !important;	
}

figure a span:hover{
	color: #ff4800;
}

.mini_showslide{
	display: flex;
	flex-wrap: wrap;
}

.mini_images {
	display: block;
	width: 25%;
	margin-right: -5px;
}

.mini_images figcaption{
	text-align: left;
	text-transform: uppercase;
	padding: 20px;
	margin-top: -7px;
	cursor: pointer;
}

.second_section article{
	display: flex;
	text-align: center;
}


.second_sub_section article{
	display: flex;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	box-shadow: -1px 1px 1px 1px #e7e7e7;
	margin-bottom: 12px;
}

.second_sub_section article figure{
	display: flex;
	text-align: center;
}

.second_sub_section figure img{
	padding: 14px 20px;
	border-right: 2px solid #e7e7e7;
	width: 35px;
	height: 35px;
}

.second_sub_section figure figcaption{
	padding: 22px 20px 0px;
	text-transform: uppercase;
}

/*section second end*/


/*section third start*/

.third_section{
	background-image: url('../images/about_us_bg_image.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.third_section .section_one{
	text-align: left;
	padding: 20px 120px;
}

.third_section .section_one p{
	line-height: 30px;
	color: #ffc7be;
}

.third_section .section_one h5{
	margin: 25px 0px;
}

.third_section .section_one h5 a{
	color: #fdf8f7;
	text-decoration-color: #ffad9f;
}

/*section third end*/

/*section forth start*/

.forth_section{
	text-align: left;
	padding: 0px 120px;
	margin-top: 80px;
}

.forth_section .section_two{
	margin-top: 50px;
}

.forth_section .section_two{
	display: flex;
	align-items: center;
}

.forth_section .section_two .how_it_works{
	width: 30%;
}

.forth_section .how_it_works_image{
	margin: 0px;
	display: flex;
    align-items: center;
    border: 1px solid #e7e7e7;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px #e7e7e7;
    padding: 19px 0px 19px 20px;
}

.forth_section .how_it_works_image figcaption{
   	padding-left: 20px;
   	font-size: 21px;
    font-weight: bold;
}

.how_it_works_image .m_0{
	width: 50px;
	height: 50px;
}

/*section forth end*/

/*section fifth start*/
.fifth_section{
	margin-top: 80px;
}

.fifth_section section{
	padding: 25px;
	color: #d3d3d3;
	font-size: 13px;
}
/*section fifth end*/


/* media queries start*/

@media (max-width: 480px) {

	.modalDialog > section {
		width: 250px;		
		padding: 20px;
	}

	.modalDialog .content p{
		line-height: 20px;
	}

	.modalDialog .font_size_35{
	    font-size: 25px;
        margin-top: -10px;
	}

	.modalDialog .font_size_25{
	    font-size: 22px;
	}

	.modalDialog .content2 .orange_bgcolor{
        padding: 17px 20px;
        font-size: 20px;
	}

	.modalDialog .content2 .orange_dark_color{
        padding: 8px 15px;
        font-size: 20px;
	}

	.content1 h3{
		font-size: 30px;
	}

	.content1 p{
		line-height: 25px;
	}

	.content2 button{
		font-size: 25px;
	}

	.content2 .orange_bgcolor{
		padding: 17px 20px;
	}

	.content2 .orange_dark_color{
		padding: 10.5px 15px;
	}	

	.content3 p {
		line-height: 25px;
	}

	.second_section{
	    display: block;
	    padding: 0 20px;
	}

	.first_sub_section{
		width: 100% !important;
	}

	.second_sub_section{
		width: 100% !important;	
		margin-bottom: 50px;
	}

	.second_sub_section .sub_heading{
		text-align: left;
	}	

	.third_section .section_one{
		padding: 20px;
	}

	.forth_section{
		padding: 20px;
		margin-top: 0px;
	}

	.figure_group{
		width: 100% !important;
		margin-left: 0px !important;
	}

	.figure_group a{
		top:25%;
	    font-size: 30px;		
	}

	.figure_group .left{
		padding: 3px 10px 3px 10px;
        left: 15% !important;
	}

	.figure_group .right{
		padding: 3px 10px 3px 10px;
	    right: 15% !important;
	}

	.mini_images{
		width: 100% !important;
	}

	.mini_images figcaption{
		padding: 20px 0px;
		margin-top: -7px;
		cursor: pointer;
		text-align: center;
	}

	.sub_heading{
		text-align: center;
	}

	.forth_section .section_two{
		display: block;
	}

	.forth_section .section_two .how_it_works{
		width: 100%;
		margin-bottom: 20px;
	}

	.fifth_section{
		margin-top: 30px;
	}

	.fifth_section .black_bg_color{
		line-height: 30px;
		font-size: 20px;
	}

	.how_it_works_arrows{
		display: none;
	}
}

@media (max-width: 767px) and (min-width: 481px){	

	.modalDialog > section {
		width: 400px;		
		padding: 20px;
	}

	.modalDialog .content p{
		line-height: 20px;
	}

	.content1 h3{
		font-size: 30px;
	}

	.content1 p{
		line-height: 25px;
	}

	.content2 button{
		font-size: 25px;
	}

	.content2 .orange_bgcolor{
		padding: 17px 20px;
	}

	.content2 .orange_dark_color{
		padding: 10.5px 15px;
	}	

	.content3 p {
		line-height: 25px;
	}

	.content3 .p1{
		margin-bottom: 15px;
	}

	.content3 .p2{
		margin-top: 0px;
	}

	.second_section{
	    display: block;
	    padding: 0 20px;
	}

	.first_sub_section{
		width: 100% !important;
	}

	.second_sub_section{
		width: 100% !important;	
		margin-bottom: 50px;
	}

	.third_section .section_one{
		padding: 20px;
	}

	.forth_section{
		padding: 20px;
		margin-top: 0px;
	}

	.figure_group{
		width: 100% !important;
		margin-left: 0px !important;
	}
	
	.mini_showslide{
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: -35px;
	}

	.mini_showslide .mini_images img{
		width: 100%;
    	height: auto;
	}

	.figure_group a{
	    top: 50%;
    	margin-top: -50px;
	    font-size: 30px;		
	}

	.figure_group .left{
		padding: 0px 10px 0px 3px;
        left: 0% !important;
	}

	.figure_group .right{
		padding: 0px 10px 0px 10px;
	    right: 0% !important;
	}

	.mini_images{
		width: 100% !important;
		margin: 0px 10px;
	}

	.mini_images figcaption{
		padding: 20px 0px;
		margin-top: -7px;
		cursor: pointer;
	}

	.sub_heading{
		text-align: center;
	}

	.second_sub_section .sub_heading{
		text-align: left;
	}

	.forth_section .sub_heading{
		text-align: left;
	}

	.forth_section .section_two{
		display: block;
	}

	.forth_section .section_two .how_it_works{
		width: 100%;
		margin-bottom: 20px;
	}

	.fifth_section{
		margin-top: 30px;
	}

	.fifth_section .black_bg_color{
		line-height: 30px;
		font-size: 20px;
	}

	.how_it_works_arrows{
		display: none;
	}
}

@media (max-width: 1023px) and (min-width: 768px){	

	.modalDialog > section {
		width: 400px;		
		padding: 20px;
	}

	.modalDialog .content p{
		line-height: 20px;
	}

	.content1 h3{
		font-size: 30px;
	}

	.content1 p{
		line-height: 25px;
	}

	.content2 button{
		font-size: 25px;
	}

	.content2 .orange_bgcolor{
		padding: 17px 20px;
	}

	.content2 .orange_dark_color{
		padding: 10.5px 15px;
	}	

	.content3 p {
		line-height: 25px;
	}

	.content3 .p1{
		margin-bottom: 15px;
	}

	.content3 .p2{
		margin-top: 0px;
	}

	.second_section{
	    display: flex;
	    padding: 0 20px;
	}

	.second_sub_section{
		margin-left: 20px;
	}

	.second_sub_section figure img{
		padding: 10px;
	}

	.second_sub_section figure figcaption{
		padding: 22px 10px 0px; 
	}

	.third_section .section_one{
		padding: 20px;
		margin-top: 60px;
	}

	.forth_section{
		padding: 20px;
		margin-top: 0px;
	}

	.figure_group{
		width: 100% !important;
		margin-left: 0px !important;
	}
	
	.mini_showslide{
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: -35px;
	}

	.mini_showslide .mini_images img{
		width: 100%;
    	height: auto;
	}

	.figure_group a{
	    top: 50%;
    	margin-top: -50px;
	    font-size: 30px;		
	}

	.figure_group .left{
		padding: 0px 10px 0px 3px;
        left: 0% !important;
	}

	.figure_group .right{
		padding: 0px 10px 0px 10px;
	    right: 0% !important;
	}

	.mini_images{
		width: 100% !important;
		margin: 0px 10px;
	}

	.mini_images figcaption{
		padding: 20px 0px;
		margin-top: -7px;
		cursor: pointer;
	}	

	.forth_section{
		padding: 20px;
		margin-top: 0px;
	}

	.forth_section .section_two{
		display: flex;
	}

	.how_it_works .how_it_works_image{
		padding: 10px 0px 10px 10px;
	}

	.forth_section .how_it_works_image figcaption{
		padding-left: 15px;
    	font-size: 16px;
	}

	.fifth_section{
		margin-top: 30px;
	}

	.fifth_section .black_bg_color{
		line-height: 30px;
		font-size: 20px;
	}
}

@media (max-width: 1999px) and (min-width: 1024px){	

	
	.second_section{
	    padding: 0 40px;
	}

	.second_sub_section{
	    margin-left: 20px;
	}

	.third_section .section_one{
		padding: 20px 40px;
		margin-top: 60px;
	}

	.forth_section{
		padding: 20px 40px;
		margin-top: 0px;
	}

	.forth_section .section_two{
		display: flex;
	}

	.figure_group{
		width: 100% !important;
		margin-left: 0px !important;
	}
	
	.mini_showslide{
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: -35px;
	}

	.mini_showslide .mini_images img{
		width: 100%;
    	height: auto;
	}

	.figure_group a{
	    top: 50%;
    	margin-top: -50px;
	    font-size: 30px;		
	}

	.figure_group .left{
		padding: 0px 10px 0px 3px;
        left: 0% !important;
	}

	.figure_group .right{
		padding: 0px 10px 0px 10px;
	    right: 0% !important;
	}

	.mini_images{
		width: 100% !important;
		margin: 0px 10px;
	}

	.mini_images figcaption{
		padding: 20px 0px;
		margin-top: -7px;
		cursor: pointer;
	}	

	.forth_section .section_two .how_it_works{
		width: 100%;
		margin-bottom: 20px;
	}

	.fifth_section{
		margin-top: 30px;
	}

	.fifth_section .black_bg_color{
		line-height: 30px;
	}
}
/* media queries start*/


