body{
	font-family: Myriad Pro;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	text-align: center;
}

.container{
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 1200px){
	    width: 1170px;
	}	
}

header h3{
	font-size: 40px;
	font-weight: normal;
	color: #fff;
}

.row{
	margin-left: -15px;
    margin-right: -15px;
}

.image_section{
	display: flex;
	flex-wrap: wrap;
}

.mini_showslide{
	display: flex;
	flex-wrap: wrap;
}

.first_section{
	background-image: url('images/background_image.png');
	height: 500px
	width:500px;
}